{% extends "layout.html" %} {% block body %}
<form>
    <div class="row">
        <div class="input-field col s12">
            <input id="search" type="text" class="validate">
            <label for="search">Search</label>
        </div>
    </div>
    <div class='row'>
        <div class="input-field col s4">
            <select id="sortBy">
                <option value="" disabled selected>Sort By</option>
                <option value="firstname">First Name</option>
                <option value="lastname">Last Name</option>
                <option value="year">Year</option>
                <option value="location">Location Preference</option>
                <option value="school">School</option>
            </select>
        </div>

        <div class="input-field col s4">
            <select id="sortByYear">
                <option value=" " disabled selected>Sort By Year</option>
                <option value="2021">2021</option>
                <option value="2020">2020</option>
                <option value="2019">2019</option>
                <option value="2018">2018</option>
            </select>
        </div>

        <div class="input-field col s4">
            <select id="sortByLocation">
                <option value=" " disabled selected>Location Preference</option>
                <option value="Silicon Valley">Silicon Valley</option>
                <option value="Washington DC">Washington DC</option>
                <option value="Raleight-Durham">Raleight-Durham</option>
            </select>
        </div>

    </div>
    <div class="checkboxes">
        <div class='col-md-3'>
            <p>
                <input class = "check" type="checkbox" value="frontend" id="frontend" />
                <label for="frontend">Front-End</label>
            </p>
            <p>
                <input class = "check" type="checkbox" value="backend" id="backend" />
                <label for="backend">Back-End</label>
            </p>
            <p>
                <input class = "check" type="checkbox" value="mobile" class="filled-in" id="mobile" />
                <label for="mobile">Mobile</label>
            </p>
            <p>
                <input class = "check" type="checkbox" value="database" id="database" />
                <label for="database">Database</label>
            </p>
            <p>
                <input class = "check" type="checkbox" value="testing_qa" id="testing_qa" />
                <label for="testing_qa">Testing/QA</label>
            </p>
            <p>
                <input class = "check" type="checkbox" value="ui_ux" id="ui_ux" />
                <label for="ui_ux">UI/UX</label>
            </p>
        </div>
        <div class='col-md-3'>
            <p>
                <input class = "check" type="checkbox" value="3dprinting" id="3dprinting" />
                <label for="3dprinting">3D Printing</label>
            </p>
            <p>
                <input class = "check" type="checkbox" value="hardware" id="hardware" />
                <label for="hardware">Hardware</label>
            </p>
            <p>
                <input class = "check" type="checkbox" value="fintech" id="fintech" />
                <label for="fintech">Fintech</label>
            </p>
            <p>
                <input class = "check" type="checkbox" value="cyber_security" id="cyber_security" />
                <label for="cyber_security">Cyber Security</label>
            </p>
            <p>
                <input class = "check" type="checkbox" value="AI" id="AI" />
                <label for="AI">Artificial Intelligence</label>
            </p>
            <p>
                <input class = "check" type="checkbox" value="robotics" id="robotics" />
                <label for="robotics">Robotics</label>
            </p>
        </div>
    </div>
    <br>
</form>
<div class="row">
    <button class="btn waves-effect waves-light" id="go">Go
        <i class="material-icons right"></i>
    </button>
</div>
<hr>
<div class="container-fluid">
    <div id="results">
        Results here!
    </div>
</div>
{% endblock %}
